@media only screen and (max-width: 767px) {

  /* what goes here? */
  /* put in here the css for things that need to change this size */
  body {
    background-color: Pink;
    margin: 4%;
  }

  h1 {
    font-size: 70px;
    margin-left: 25px;
  }

  .grid2-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
  }

  .grid2-hed {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .grid2-text-1 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  h3 {
    color: white;
  }

  h4 {
    color: white;
  }
}
